extends layout

block content
    h1= title
    p Welcome to #{title}
    p Number is
        b  #{number}
    p Code is
        b  #{code}
    p Decoded code is
        b  #{decoded}
        i  (Just to check if things are working the way they are supposed to)

